.App {
  background-image: url('./home-hero.avif');
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.ml-auto {
  margin-left: auto;
}

.navbar-custom {
  background-color: none;
}
.navbar-custom :hover{
  color: #d4ff00a8;
}

.nav-link-custom {
  color: #ffffff;
  font-size: 18px;
}

.button-custom {
  background-color: #007bff;
  color: #fff;
}

@media only screen and (max-width: 100px) {
  .App {
    background-image: url('./home-hero-mobile.jpg');
    
  }
  .ml-auto{
    justify-content: center;
  }
  .basic-navbar-nav .ml-auto{
    justify-content: center;
  }
}

.box {
  width: 615px;
  height: 314px;
}

.box .rectangle {
  position: absolute;
  width: 615px;
  height: 310px;
  top: 780px;
  left: 60px;
  background-color: #ffffffcc;
  border-radius: 30px;
  border: 10px black;
  border-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  
}
.avatar{
  height: 259px;
  width: 262px;
  margin: 20px;
  object-position: fixed;
  border-radius: 10%;
}

.box1 {
  width: 615px;
  height: 314px;
}

.box1 .rectangle1 {
  position: absolute;
  width: 615px;
  height: 310px;
  top: 780px;
  left: 800px;
  background-color: #ffffffcc;
  border-radius: 30px;
  border: 10px black;
  border-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  
}
.avatar1{
  height: 265px;
  width: 262px;
  margin: 20px;
  object-position: fixed;
  border-radius: 10%;
}

.box2 {
  width: 615px;
  height: 314px;
}

.box2 .rectangle2 {
  position: absolute;
  width: 615px;
  height: 310px;
  top: 1110px;
  left: 800px;
  background-color: #ffffffcc;
  border-radius: 30px;
  border: 10px black;
  border-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  
}
.avatar2{
  height: 270px;
  width: 250px;
  margin: 20px;
  object-position: fixed;
  border-radius: 10%;
}

.box3 {
  width: 615px;
  height: 314px;
}

.box3 .rectangle3 {
  position: absolute;
  width: 615px;
  height: 310px;
  top: 1110px;
  left: 60px;
  background-color: #ffffffcc;
  border-radius: 30px;
  border: 10px black;
  border-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  
}
.avatar3{
  height: 259px;
  width: 262px;
  margin: 20px;
  object-position: fixed;
  border-radius: 10%;
}
